html,
body {
  height: 100%;
}

body {
  padding-bottom: 40px;
  background-color: #f5f5f5;
}

ui-view {
  width: 100%;
}

nav.navbar {
  margin-bottom: 40px;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input {
  margin: 2px;
}
button {
  margin-top: 10px;
}

table {
  max-width: 50%;
  padding: 15px;
  margin: auto;
}

.nav-link {
  padding-right: .5rem !important;
  padding-left: .5rem !important;
}

.navbar {
  min-height: 56px;
}

.ml-auto {
  left: auto !important;
  right: 0px;
}

a.logout:hover {
  cursor: pointer;
  text-decoration: underline;
}
